* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: green;
}

.squad {
    width: 100px;
    height: 100px;
    background-color: brown;
    display: inline-block;
    margin-left: 50px;
    margin-right: 100px;
    padding: 100px;

}

.text {
    padding-bottom: 30px;
    /*margin-bottom:  30px;*/
    background-color: blueviolet;
}

.card {
    max-width: 420px;
    border: 1px solid;
    margin: 0 auto;
    /*выравнивает по центру;*/
    border-radius: 8px;

}

.card-body {
    padding: 30px;
}

img {
    width: 100%;
}

.person-name {
        margin-bottom: 13px;
}
.header{
    padding: 16px 0;
}



.nav-list {
    width: max-content;
    margin: 0 auto;
}

.nav-item {
    display: inline-block;
    margin: 0 20px;
}